{{#get "posts" filter="featured:true+tag:-hash-en" limit="7" as |featured|}}
    {{#if featured}}
    <section class="kg-canvas">
        <div class="kg-width-full featured-container">
            <div class="featured-wrapper container {{#match @custom.hero_layout "Image top"}}medium{{/match}}">
                <div class="feed-header-wrapper">
                    {{#if @custom.featured_title}}
                        <h2 class="feed-header-title">{{@custom.featured_title}}</h2>
                    {{/if}}
                </div>
                <div class="slider-feed">
                    {{#foreach featured}}
                        <article class="{{post_class}}">
                            {{#if feature_image}}
                                <div class="u-placeholder square">
                                    <img class="u-object-fit"
                                        srcset="{{> srcset}}"
                                        sizes="(min-width: 1256px) calc((1130px - 60px) / 3), (min-width: 992px) calc((90vw - 60px) / 3), (min-width: 768px) calc((90vw - 30px) / 2), 90vw"
                                        src="{{img_url feature_image size="m"}}"
                                        alt="{{title}}" loading="lazy">
                                </div>
                            {{/if}}
                            <h3 class="post-title">{{title}}</h3>
                            <a class="u-permalink" href={{url}} aria-label="{{title}}"></a>
                        </article>
                    {{/foreach}}
                </div>
            </div>
        </div>
    </section>
    {{/if}}
{{/get}}