<footer class="site-footer">
    <div class="container">
        <div class="footer-top">
            <div class="logo">
                <?xml version="1.0" encoding="utf-8"?>
                <!-- Generator: Adobe Illustrator 28.3.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 108.5 44.3" height="80" style="enable-background:new 0 0 108.5 44.3;" xml:space="preserve">
                <style type="text/css">
                    .st0{fill:#FFFFFF;}
                    .st1{fill:#00ADC8;}
                </style>
                <g>
                    <g>
                        <path class="st0" d="M23.6,29.8l1.3,0.1v4.4h-8.7l-0.3-2.2l-0.2,0c-1.3,2-3.7,2.9-6.2,2.9C2.1,34.9,0,29.2,0,23
                            C0,15.3,3.9,9,11.2,9c1.1,0,2.2,0.1,3.3,0.5V6.1c0-0.9-0.4-1.3-1.2-1.4l-1.6-0.1V0h10.7v28.4C22.5,29.4,22.7,29.7,23.6,29.8z
                             M14.6,26.5V15.2c-0.6-0.3-1.4-0.5-2.3-0.5C9,14.8,8,18.3,8,22.3c0,3.9,0.9,6.9,3.7,6.9C13.8,29.2,14.6,27.8,14.6,26.5z"/>
                        <path class="st0" d="M53.1,9.7v4.5l-1.2,0.1c-0.8,0.1-1.2,0.4-1.5,1.4l-6.4,18.6H35l-7-19.8l-2.4-0.3V9.7h13.2v4.6l-1.3,0.1
                            c-0.8,0.1-1.1,0.5-0.8,1.3L40,26.4h0l3.8-11.9l-2-0.1V9.7H53.1z"/>
                        <path class="st0" d="M56.9,15.8c0-1-0.4-1.3-1.2-1.4l-1.6-0.1V9.7h10.1v2.7h0.1C65.7,10,68.2,9,70.9,9c5.3,0,8.6,4,8.6,12
                            c0,8.4-3.3,13.9-10.5,13.9c-1.4,0-3-0.3-4.2-0.9v5.4l4.4,0.3v4.5H54.1v-4.3l1.6-0.1c0.9-0.1,1.2-0.4,1.2-1.6V15.8z M64.9,28.5
                            c0.8,0.5,1.8,0.7,2.5,0.7c3.2,0,4-3.1,4-7.1c0-3-0.4-7.2-3.6-7.2c-2,0-2.9,1.5-2.9,2.8V28.5z"/>
                        <path class="st0" d="M84.4,15.8c0-1-0.3-1.3-1.2-1.4l-1.6-0.1V9.7h10.1v3.1h0.1C92.9,11,95.1,9,98.9,9c4.5,0,7.3,2.3,7.3,8.2v12.4
                            l2.4,0.2v4.4H96.3v-4.4l1-0.1c0.5,0,0.8-0.2,0.8-1v-9.9c0-2.3-0.5-3.5-2.6-3.5c-2,0-3.2,1.7-3.2,3.8v10.5l2,0.1v4.5H81.6v-4.3
                            l1.6-0.1c0.9,0,1.1-0.4,1.1-1.5V15.8z"/>
                    </g>

                        <rect x="0.9" y="40" transform="matrix(1 -3.454324e-03 3.454324e-03 1 -0.1454 8.899204e-02)" class="st1" width="49.6" height="4.2"/>
                    <rect x="72.4" y="39.8" transform="matrix(1 -3.454324e-03 3.454324e-03 1 -0.1445 0.3126)" class="st1" width="36" height="4.3"/>
                </g>
                </svg>
            </div>
        </div>
        <div class="footer-inner-main">
            <div class="footer-left">
                {{navigation type="secondary"}}
                <div class="nav social">
                    {{#if @site.facebook}}
                        <li>
                            <a class="social-item social-item-facebook"
                                href="{{facebook_url @site.facebook}}" target="_blank"
                                rel="noopener noreferrer" aria-label="Facebook">
                                Facebook
                            </a>
                        </li>
                    {{/if}}
                    {{#if @site.twitter}}
                        <li>
                            <a class="social-item social-item-twitter"
                                href="{{twitter_url @site.twitter}}" target="_blank"
                                rel="noopener noreferrer" aria-label="Twitter">
                                Twitter
                            </a>
                        </li>
                    {{/if}}
                </div>
            </div>
            <nav class="footer-right">
                <div class="footer-desc">
                    {{@site.description}}
                </div>
            </nav>
        </div>
        <div class="footer-copyright">
            Domestic Violence Prevention Network © {{date format="YYYY"}}. 
        </div>
    </div>
</footer>